* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  font-size: 18px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

a {
  color: #ef5839;
}
/* header */
header {
  background-color: #2e354f;
  color: white;
  padding: 50px 0;
}

h2 {
  color: #ef5839;
  font-size: 24px;
  font-weight: bold;
}

ul {
  font-size: 1rem;
}
/* Section1 */
.sec-1 h2 {
  margin: 50px 0 25px;
}

.container-1,
.container-2,
.container-h {
  width: 90%;
  margin: 0 auto;
  max-width: 620px;
}
/* Section2 */
.sec-2 {
  background-color: #2e354f;
  color: white;
  padding: 50px 0;
  margin: 50px 0 0 0;
}

.sec-2 p {
  margin: 25px 0;
}
/* Button */
.btn {
  margin: 0 15px 0 0;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  transition: 0.3s all;
}

.btn-orange {
  background-color: #ef5839;
  color: white;
}

.btn-orange:hover {
  background-color: #ec826d;
}

.btn-normal {
  background-color: white;
  color: black;
}

.btn-normal:hover {
  background-color: rgb(176, 174, 174);
}
